body {
    font-family: 'Noto Kufi Arabic', sans-serif;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav {
    width: 100vw;
    height: 3rem;
    margin: 1rem 0;
}

img {
    width: 10rem;
    height: 10rem;
    margin: 1rem 0;
    border-radius: 10px; /* حواف دائرية للصورة */
}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 250px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.buttons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

input, button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}

button {
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.removeButton {
    width: max-content;
    height: max-content;
    padding: 0.5rem 1rem;
    border: 2px solid #a80000;
    color: #a80000;
    border-radius: 8px;
    background-color: transparent;
    margin-top: 10px; 
    cursor: pointer;
    transition: all 0.3s ease;
}

.removeButton:hover {
    background-color: #a80000;
    color: white;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 15px;
    }

    .card {
        max-width: 100%;
        width: 90%;
    }
}

@media (max-width: 480px) {
    input, button {
        font-size: 0.9rem;
        padding: 8px;
    }
    .buttons {
        flex-direction: column;
    }
}